/* .header.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.site-layout-background {
  background: #fff;
} */
.logo{
  color: #ffe300;
  color: #ffe300;
  margin-right: 45px;
 }
 header.ant-layout-header.header {
  display: flex;
  font-size: 28px;
  font-weight: 600;

  
}
.detail-inner {
  padding: 10px;
  /* padding-left: 4px; */  
  /* color: black; */
}
ul.card-list-wrapper {
  display: flex;  
  flex-direction: column;
  padding-right: 40px;
  /* text-align: center; */
}

.card-wrapper {
  /* display: flex; */
  /* flex-direction: column; */
  width: 22%;
  background: white;
  /* padding: 10px; */
  margin-left: 14px;
  margin-top: 10px;
  text-align: center;
  padding: 24px;
}

ul.card-detail-wrapper {
  list-style: none;
  /* color: #0000ffa6; */
}

li.card-list.invert {
  padding-left: 48px;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

li.card-list {
  cursor: pointer;
}
.detail-inner > lable {
  color: black;
}